In [1]:
import streamlit as st
from google.cloud import bigquery
import pandas as pd
import os
from dotenv import load_dotenv

In [2]:
# READ ENV VARIABLES - CREDENTIALS TO CONNECT TO BQ
load_dotenv()
env_var_project_gcp = os.environ.get("PROJECT_GCP", "")
env_var_path_sa = os.environ.get("PATH_SA", "")

PROJECT_ID = env_var_project_gcp
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = env_var_path_sa

In [3]:
env_var_path_sa

'sa-gcp-ds-mvp.json'

In [4]:
########### read table from bq
def get_dataframe_from_bq():
    '''
    Obtener un dataframe desde una consulta SQL a una tabla de Bigquery
    Dataframe que va a ser mostrado en el front de una app web
    '''

    #query
    query_sql = '''
    SELECT * 
    FROM `cmpc-innovation-cd4ml-test.dataset_for_tests.table_1`
    ORDER BY date DESC
    '''

    # consultar
    client = bigquery.Client(project = PROJECT_ID)
    df = client.query(query_sql).to_dataframe()

    return df

In [5]:
# read table bq
df_table = get_dataframe_from_bq()

In [6]:
df_table

                        date  Target
0  2022-08-11 00:00:00+00:00      11
1  2022-08-10 00:00:00+00:00     100
2  2022-08-09 00:00:00+00:00      40
3  2022-08-08 00:00:00+00:00      25
4  2022-08-07 00:00:00+00:00      17
5  2022-08-06 00:00:00+00:00      16
6  2022-08-05 00:00:00+00:00      16
7  2022-08-04 00:00:00+00:00      15
8  2022-08-03 00:00:00+00:00      15
9  2022-08-02 00:00:00+00:00       6
10 2022-08-01 00:00:00+00:00       7
11 2022-07-31 00:00:00+00:00       8
12 2022-07-30 00:00:00+00:00       9
13 2022-07-29 00:00:00+00:00      14